[Unit]
Description=Run news service

[Service]
ExecStart=/server_config/control.py start news

[Install]
After=network.target
Requires=docker.serivce
WantedBy=default.target
Wants=network.target
