[Unit]
Description=Run syncthing service

[Service]
ExecStart=/server_config/control.py start syncthing
Restart=on-failure
RestartSec=5

[Install]
After=network.target
After=docker.service
WantedBy=default.target
Wants=network.target
Wants=docker.serivce
