[Unit]
Description=Run syncthing service

[Service]
WorkingDirectory=/server_config/syncthing
ExecStart=/server_config/control.py start syncthing
Restart=on-failure
RestartSec=5

[Install]
After=network.target
Requires=docker.serivce
WantedBy=default.target
Wants=network.target
