[Unit]
Description=Upgrade all containers

[Service]
Type=oneshot
ExecStart=/server_config/control.sh update-all

[Install]
After=network.target
Requires=docker.serivce
WantedBy=default.target
Wants=network.target
